<!-- Footer Section Start -->
<footer id="footer" class="footer-area section-padding">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
          <div class="footer-logo mb-3">
            <h5>DTS3YR Project</h5>
          </div>
          <p>Cross-platform Decentralised Video Conferencing Tool</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
          <h3 class="footer-title">Project Management</h3>
          <ul>
            <li><a href="#">PRINCE2</a></li>
            <li><a href="#">Agile</a></li>
            <li><a href="#">DevOps</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
          <h3 class="footer-title">Research</h3>
          <ul>
            <li><a href="#">Angular</a></li>
            <li><a href="#">WebRTC</a></li>
            <li><a href="#">Kurento Media Server</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
          <h3 class="footer-title">Find us on</h3>
          <div class="social-icon">
            <a class="facebook" href="#"><i class="lni lni-github"></i></a>
            <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
            <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
