<!--<app-nav-menu></app-nav-menu>-->

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

<!-- Header Area wrapper Starts -->
<header id="header-wrap">
  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#main-navbar"
                aria-controls="main-navbar"
                aria-label="Toggle navigation"
                [attr.aria-expanded]="isExpanded"
                (click)="toggle()">
          <span class="navbar-toggler-icon"></span>
          <span class="icon-menu"></span>
          <span class="icon-menu"></span>
          <span class="icon-menu"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['/']">DTS3YR Project</a>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav mr-auto w-100 justify-content-left clearfix">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/']">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="page-scroll nav-link" href="#features">
              Features
            </a>
          </li>
          <li class="nav-item">
            <a class="page-scroll nav-link" href="#services">
              Services
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar End -->
  <!-- Hero Area Start -->
  <div id="hero-area" class="hero-area-bg">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="contents text-center">
            <h3 class="head-title wow fadeInUp">Cross-platform Decentralised Video Conferencing Tool</h3>
            <div class="header-button wow fadeInUp" data-wow-delay="0.2s">
              <a href="#services" class="btn btn-primary page-scroll">Get Started</a>
            </div>
          </div>
          <br />
          <div class="img-thumb text-center wow fadeInUp" data-wow-delay="0.4s">
            <img class="img-fluid" src="../../assets/images/hero.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Area End -->
</header>
<!-- Header Area wrapper End -->
<!-- Features Section Start -->
<section id="features" class="section-padding">
  <div class="container">
    <div class="section-header text-center">
      <h2 class="section-title wow fadeInDown" data-wow-delay="0.2s">Features</h2>
    </div>
    <div class="row">
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="features-item wow fadeInRight" data-wow-delay="0.2s">
          <div class="icon">
            <i class="lni-cog"></i>
          </div>
          <div class="features-content">
            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="features-item wow fadeInRight" data-wow-delay="0.2s">
          <div class="icon">
            <i class="lni-bar-chart"></i>
          </div>
          <div class="features-content">
            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="features-item wow fadeInRight" data-wow-delay="0.2s">
          <div class="icon">
            <i class="lni-briefcase"></i>
          </div>
          <div class="features-content">
            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="features-item wow fadeInRight" data-wow-delay="0.4s">
          <div class="icon">
            <i class="lni-pencil-alt"></i>
          </div>
          <div class="features-content">
            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="features-item wow fadeInRight" data-wow-delay="0.4s">
          <div class="icon">
            <i class="lni-mobile"></i>
          </div>
          <div class="features-content">
            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="features-item wow fadeInRight" data-wow-delay="0.4s">
          <div class="icon">
            <i class="lni-layers"></i>
          </div>
          <div class="features-content">
            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Features Section End -->
<!-- Services Table Section Start -->
<section id="services" class="section-padding">
  <div class="container">
    <div class="section-header text-center">
      <h2 class="section-title wow fadeInDown" data-wow-delay="0.4s">Services</h2>
    </div>
    <div class="row details-form-area wow fadeInUp" data-wow-delay="0.4s">
      <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="details-block">
          <form [formGroup]="entryForm" novalidate (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div class="formError" id="requiredNameError" *ngIf="entryForm.get('userName').hasError('required')">
                    User name is <strong>required</strong>
                  </div>
                  <div class="formError" id="shortNameError" *ngIf="entryForm.get('userName').hasError('minlength')">
                    User name is <strong>too short</strong>
                  </div>
                  <div class="formError" id="requiredNameError" *ngIf="entryForm.get('roomName').hasError('required')">
                    Room name is <strong>required</strong>
                  </div>
                  <div class="formError" id="shortNameError" *ngIf="entryForm.get('roomName').hasError('minlength')">
                    Room name is <strong>too short</strong>
                  </div>
                  <input type="text"
                         formControlName="userName" required
                         placeholder="Enter User Name"
                         class="form-control mb-3">
                  <input type="text"
                         formControlName="roomName" required
                         placeholder="Enter Room Name"
                         class="form-control">
                  <input type="hidden"
                         formControlName="roomType"
                         placeholder="Room Type"
                         class="form-control">
                </div>
                <div class="form-group d-flex justify-content-center">
                  <button class="btn btn-common" (click)="generateRandomName()">Generate Random Names</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="table wow fadeInLeft" data-wow-delay="0.6s">
          <div class="title">
            <h3>One-To-One</h3>
          </div>
          <div class="services-header">
            <p class="price-value">Video Call</p>
          </div>
          <ul class="description">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <button class="btn btn-common" (click)="goToVideoCall()">Join Room</button>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 active">
        <div class="table wow fadeInUp" id="active-tb" data-wow-delay="0.6s">
          <div class="title">
            <h3>One-To-Many</h3>
          </div>
          <div class="services-header">
            <p class="price-value">Video Streaming</p>
          </div>
          <ul class="description">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <button class="btn btn-common" (click)="goToVideoStreaming()">Join Room</button>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="table wow fadeInRight" data-wow-delay="0.6s">
          <div class="title">
            <h3>Many-To-Many</h3>
          </div>
          <div class="services-header">
            <p class="price-value">Video Conferencing</p>
          </div>
          <ul class="description">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <button class="btn btn-common" (click)="goToVideoConferencing()">Join Room</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Table Section End -->
<!-- Footer Section Start -->
<footer id="footer" class="footer-area section-padding">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-white">
          <div class="footer-logo mb-3">
            <h5>DTS3YR Project</h5>
          </div>
          <p>Cross-platform Decentralised Video Conferencing Tool</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <h3 class="footer-title">Project Management</h3>
          <ul>
            <li><a href="#">PRINCE2</a></li>
            <li><a href="#">Agile</a></li>
            <li><a href="#">DevOps</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <h3 class="footer-title">Research</h3>
          <ul>
            <li><a href="#">Angular</a></li>
            <li><a href="#">WebRTC</a></li>
            <li><a href="#">Kurento Media Server</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <h3 class="footer-title">Find us on</h3>
          <div class="social-icon">
            <a class="facebook" href="#"><i class="lni lni-github"></i></a>
            <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
            <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Footer Section End -->
<!-- Preloader -->
<!--<div id="preloader">
  <div class="loader" id="loader-1"></div>
</div>-->
<!-- End Preloader -->
