<app-nav-menu></app-nav-menu>

<!-- Services Section Start -->
<section id="services" class="section-padding">
  <div class="container">
    <div class="section-header text-center">
      <h2 class="section-title wow fadeInDown" data-wow-delay="0.2s">Our Services</h2>
    </div>
    <div class="row">
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="0.2s">
          <div class="icon">
            <i class="lni-cog"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="0.4s">
          <div class="icon">
            <i class="lni-bar-chart"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
          <div class="icon">
            <i class="lni-briefcase"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="0.8s">
          <div class="icon">
            <i class="lni-pencil-alt"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="1.0s">
          <div class="icon">
            <i class="lni-mobile"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
          </div>
        </div>
      </div>
      <!-- Services item -->
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="1.2s">
          <div class="icon">
            <i class="lni-layers"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis dicta labore nulla beatae quaerat quia incidunt laborum aspernatur...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Section End -->
<!-- Services Table Section Start -->
<section id="pricing" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="table wow fadeInLeft" data-wow-delay="1.2s">
          <div class="title">
            <h3>One-To-One</h3>
          </div>
          <div class="pricing-header">
            <p class="price-value">Lorem ipsum dolor</p>
          </div>
          <ul class="description">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <button class="btn btn-common">Get Started</button>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 active">
        <div class="table wow fadeInUp" id="active-tb" data-wow-delay="1.2s">
          <div class="title">
            <h3>One-To-Many</h3>
          </div>
          <div class="pricing-header">
            <p class="price-value">Lorem ipsum dolor</p>
          </div>
          <ul class="description">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <button class="btn btn-common">Get Started</button>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="table wow fadeInRight" data-wow-delay="1.2s">
          <div class="title">
            <h3>Many-To-Many</h3>
          </div>
          <div class="pricing-header">
            <p class="price-value">Lorem ipsum dolor</p>
          </div>
          <ul class="description">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <button class="btn btn-common">Get Started</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Table Section End -->
<!-- Footer Section Start -->
<footer id="footer" class="footer-area section-padding">
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
          <div class="footer-logo mb-3">
            <h5>DTS3YR Project</h5>
          </div>
          <p>Cross-platform Decentralized Video Conferencing Tool.</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
          <h3 class="footer-title">Project Management</h3>
          <ul>
            <li><a href="#">PRINCE2</a></li>
            <li><a href="#">Agile</a></li>
            <li><a href="#">DevOps</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
          <h3 class="footer-title">Research</h3>
          <ul>
            <li><a href="#">Angular</a></li>
            <li><a href="#">WebRTC</a></li>
            <li><a href="#">Kurento Media Server</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
          <h3 class="footer-title">Find us on</h3>
          <div class="social-icon">
            <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
            <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
            <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
            <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->

<!-- Go to Top Link -->
<a href="#" class="back-to-top">
  <i class="lni-arrow-up"></i>
</a>

<!-- Preloader -->
<div id="preloader">
  <div class="loader" id="loader-1"></div>
</div>
<!-- End Preloader -->
