<!-- Header Area wrapper Starts -->
<header id="header-wrap">
  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#main-navbar"
              aria-controls="main-navbar"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
          <span class="navbar-toggler-icon"></span>
          <span class="icon-menu"></span>
          <span class="icon-menu"></span>
          <span class="icon-menu"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['/']">DTS3YR Project</a>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav mr-auto w-100 justify-content-left clearfix">
          <li class="nav-item active">
            <a class="nav-link" href="#hero-area">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">
              Features
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pricing">
              Services
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/counter']">Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/fetch-data']">Fetch data</a>
          </li>
        </ul>
        <div class="btn-sing float-right">
          <a class="btn btn-border" href="#footer">FAQ</a>
        </div>
      </div>
    </div>

    <!-- Mobile Menu Start -->
    <ul class="mobile-menu navbar-nav">
      <li>
        <a class="page-scroll" href="#hero-area">
          Home
        </a>
      </li>
      <li>
        <a class="page-scroll" href="#services">
          Features
        </a>
      </li>
      <li>
        <a class="page-scroll" href="#pricing">
          Services
        </a>
      </li>
    </ul>
    <!-- Mobile Menu End -->

  </nav>
  <!-- Navbar End -->
  <!-- Hero Area Start -->
  <div id="hero-area" class="hero-area-bg">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="contents text-center">
            <h3 class="head-title wow fadeInUp">Cross-platform Decentralized Video Conferencing Tool</h3>
            <div class="header-button wow fadeInUp" data-wow-delay="0.3s">
              <a href="#pricing" class="btn btn-common">Get Started</a>
            </div>
          </div>
          <div class="img-thumb text-center wow fadeInUp" data-wow-delay="0.6s">
            <img class="img-fluid" src="../../assets/image/hero.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Area End -->

</header>
<!-- Header Area wrapper End -->
