<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

<nav class="navbar navbar-default"></nav>

<div id="main-container" class="container">
  <div id="session">
    <div class="session-header">
      <h4 id="session-title">Room {{mySessionId}}</h4>
      <input class="btn btn-large btn-danger" type="button" id="buttonLeaveSession" (click)="leaveSession()" value="Leave session">
    </div>
    <div id="session-header">
      <h4 id="session-title">Click on the button to start a session</h4>
      <input class="btn btn-large btn-success" type="button" id="buttonStartSession" (click)="initLocalUser()" value="Start session">
    </div>
    <br />
    <div class="row" id="video-container">
      <div class="stream-container col-md-6 col-xs-6">
        <p> {{myNickName}} </p>
        <video #videoPlayerLocal controls></video>
      </div>
      <div class="stream-container col-md-6 col-xs-6">
        <p> Remote User </p>
        <video #videoPlayerRemote controls></video>
      </div>
    </div>
  </div>
  <br />

  <h2>2. Create a new Call</h2>
  <button id="callButton" (click)="createOffer()">Create Offer</button>

  <h2>3. Join a Call</h2>
  <p>Answer the call from a different browser window or device</p>

  <input id="callInput" type="text" [(ngModel)]="mySessionId" />
  <button id="buttonAnswerOffer" (click)="answerOffer()">Answer Offer</button>

</div>

<footer class="footer"></footer>
